body {
    padding: 10px;
}

input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: 1px solid var(--vscode-button-border);
    cursor: pointer;
}

button:hover {
    background-color: var(--vscode-button-hoverBackground);
}
