body {
    background-color: var(--vscode-sideBar-background);
    color: var(--vscode-sideBar-foreground);
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    font-size: var(--vscode-font-size);
}

input {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: 1px solid var(--vscode-input-border);
    padding: 4px;
}

input:focus {
    outline: 1px solid var(--vscode-focusBorder);
    border-color: var(--vscode-focusBorder);
}

button {
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: 1px solid var(--vscode-button-border);
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: var(--vscode-button-hoverBackground);
}

button.primary {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
}

button.primary:hover {
    background-color: var(--vscode-button-hoverBackground);
}
